/* Estilos globais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(../../assets/img/fundoTRW.jpeg);
	background-size: cover;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos do cabeçalho */
header {
  
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
}

header img{
  max-width: 10%;
  max-height: 10%;
}

.titleCadastro{
  margin-top: 0.5%;
  margin-left: 10px;
}


/* Estilos do bloco de sucesso */
.success-section {

  border-radius: 5px;
  padding: 20px;
  text-align: center;
  color: #E2E242;
}

.icon-container {
  margin-bottom: 20px;
}

svg {
  width: 100px;
  height: 100px;
  fill: #103218;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Estilos do rodapé */
footer {
  margin-top: 20px;
  text-align: center;
}

footer p {
  font-size: 14px;
}

footer a {
  color: #333;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
