body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #fffece;
}

.loader {
  position: absolute;
  left: calc(50% - 25px);
  top: 40%;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	border: 10px solid #ccc;
	border-top-color: #0073ff;
	animation: spin 1s linear infinite;
  z-index: 99;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.titleCadastro {
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: 700;
	color: #000;
	text-align: center;
}

.barraFilter {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.barraFilter h2,
.barraFilter label {
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: 700;
	color: #000;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
}

.barraFilter form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 10px;
}
.button {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 700;
	height: 24px;
	margin: 10px;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	color: #000000;
	background-color: #ff856a;
	font-size: 18px;
	transition: background-color, transform 0.2s;
}

.button:hover {
	background-color: #f7f4b1;
	transform: scale(1.01);
}

footer {
	position: absolute;
	bottom: 10;
	width: 100%;
	border: 0;
	background-color: #fffc97;
}

footer p {
	margin: 0;
	padding: 14px;
	text-align: center;
	font-size: 18px;
}

footer p a {
	color: #000;
}

.card {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin: 20px;
	padding: 20px;
	width: 300px;
	text-align: center;
}

.card-header {
	background-color: #f0f0f0;
	border-radius: 10px 10px 0 0;
	padding: 10px;
}

.card-title {
	font-weight: bold;
}

.card-body {
	padding: 10px;
}

.card-data {
	margin-bottom: 10px;
}

.card-data label {
	display: inline-block;
	width: 80px;
	text-align: right;
}

.card button {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 700;
	height: 34px;
	border-radius: 4px;
	border: 0;
	cursor: pointer;
	color: #000000;
	background-color: #fffca7;
	font-size: 18px;
	transition: background-color, transform 0.2s;
}
.card button:hover {
	background-color: #f7f4b1;
	transform: scale(1.01);
}
